.exercise_top{
    margin-bottom: 0px;
    text-align: center;
    margin-top: 10px;
}

.exercise_top h2{
    font-style: 2.4rem;
    margin-bottom: 1rem;
}
.exercise_top p{
    color: #fec007;
    font-style: 1rem;
    line-height: 28px;
}
.exercise_wrapper{
    background:#fec007;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    margin-top: 4px;
     

}

.exercise_item{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    width: 33%;
    background:#fec007;
    border-radius: 5px;
    padding: 5px;
}

.exercise_icon{
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 5px;
    background: #fff;
}
.exercise_icon img{
    width: 100%;
}
.exercise_content{
    width: 80%;
}
.exercise_content h4{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.6rem;

}
.exercise_content p{
    font-size: 1rem;
    color:black;
}